/* VARIABLES
*******************************************************************************/
:root {
  /* --body-bg-color: hsl(8, 26%, 11%); */
  --body-bg-color: hsl(0, 0%, 10%);
  --primary-color: hsl(194, 100%, 3%);
  --secondary-color: hsl(195, 20%, 13%);
  --accent-color-1: hsl(214, 11%, 31%);
  --accent-color-2: hsl(215, 34%, 55%);
  --light-text-color: hsl(60, 67%, 95%);
  --dark-text-color: hsl(194, 100%, 3%);
  --history-text-color: hsl(60, 67%, 40%);
  --btn-muted-bg-color: hsla(194, 100%, 3%, 75%);
  --btn-muted-text-color: hsla(60, 67%, 85%, 50%);
  --btn-muted-hover-text-color: hsla(60, 67%, 85%, 90%);
  --btn-muted-hover-bg-color: hsla(214, 11%, 21%, 50%);
  --alert-bg-color: hsl(0, 0%, 0%);
  --alert-error-bg-color1: hsla(0, 100%, 50%, 75%);
  --alert-error-bg-color2: hsla(0, 100%, 50%, 40%);
  --alert-txt-color: hsl(240, 100%, 99%);
  --calculator-w: 480px;
  --calculator-display-h: 150px;
  --calculator-display-bg-color: #000a0d;
  --calculator-cmd-h: 40px;
  --btn-small-w: 25px;
  --btn-small-h: 35px;
}

/* WEBFONTS
*******************************************************************************/
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Thin-webfont.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Medium-webfont.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
}

/* GENERAL STYLES
*******************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  overflow: auto;
  background-color: var(--body-bg-color);
  width: 100%;
}

/* UTILITIES
*******************************************************************************/
.u-bigger-font {
  font-size: 1.4rem !important;
  font-weight: bold;
}

/* COMPONENTS
*******************************************************************************/
.o-container {
  min-height: 100vh;
  width: 100%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-btn:hover {
  background: var(--accent-color-1);
}

.c-btn.c-btn--alt-color {
  background: var(--secondary-color);
}

.c-btn.c-btn--alt-color:hover {
  background: var(--accent-color-2);
  color: var(--dark-text-color);
}

.c-btn.c-btn--small {
  width: var(--btn-small-w);
  height: var(--btn-small-h);
}

.c-btn.c-btn--rounder {
  border-radius: 25%;
}

.c-btn.c-btn--muted {
  color: var(--btn-muted-text-color);
  background: var(--btn-muted-bg-color);
}

.c-btn.c-btn--muted:hover {
  background: var(--btn-muted-hover-bg-color);
  color: var(--btn-muted-hover-text-color);
}

.c-btn.c-btn--is-hidden {
  display: none;
}

.c-calculator {
  width: var(--calculator-w);
  border: 1px solid var(--accent-color-1);
  border-radius: 3px;
}

.c-display,
.c-operations {
  width: 100%;
}

/* Alert Components will be created dynamically with JavaScript */
.c-alert {
  width: var(--calculator-w);
  background: var(--alert-bg-color);
  color: var(--alert-txt-color);
  font-family: "Roboto";
  text-align: center;
  padding: 0.3rem 0.75rem;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.c-alert.c-alert--error {
  background: linear-gradient(
    45deg,
    var(--alert-error-bg-color2),
    var(--alert-error-bg-color1),
    var(--alert-error-bg-color2)
  );
}

.c-alert.c-alert--is-hidden {
  display: none;
}

.c-display {
  display: grid;
  grid-template-areas:
    "d-top-scroller-left d-top d-top-scroller-right"
    "d-bottom-scroller-left d-bottom d-bottom-scroller-right";
  grid-template-columns: var(--btn-small-w) 1fr var(--btn-small-w);
  grid-template-rows: 40% 60%;
  grid-gap: 0 5px;
  padding: 1rem 0.5rem;
  height: var(--calculator-display-h);
  background-color: var(--calculator-display-bg-color);
}

.c-display__top,
.c-display__bottom {
  position: relative;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.c-display__top {
  grid-area: d-top;
  vertical-align: baseline;
}

.c-display__top-txt,
.c-display__bottom-txt {
  font-family: "Roboto";
  position: absolute;
  right: 0px;
}

.c-display__top-txt {
  bottom: 15%;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 1px;
  vertical-align: baseline;
  color: var(--history-text-color);
}

.c-display__bottom {
  grid-area: d-bottom;
}

.c-display__bottom-txt {
  top: 0;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--light-text-color);
  letter-spacing: 2px;
}

.c-display__top-scroller-left,
.c-display__bottom-scroller-left,
.c-display__top-scroller-right,
.c-display__bottom-scroller-right {
  align-self: center;
}

.c-display__top-scroller-left {
  grid-area: d-top-scroller-left;
}

.c-display__bottom-scroller-left {
  grid-area: d-bottom-scroller-left;
}

.c-display__top-scroller-right {
  grid-area: d-top-scroller-right;
}

.c-display__bottom-scroller-right {
  grid-area: d-bottom-scroller-right;
}

.c-operations {
  display: grid;
  gap: 2px;
  background-color: var(--accent-color-1);
  grid-template-columns: repeat(4, 1fr);
  padding: 1px;
}

.c-operations__cmd {
  height: var(--calculator-cmd-h);
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-text-color);
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 400ms ease, color 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
